<%= form_with(model: [ @book, @book.copies.build ], local: true) do |form| %>
  <p>
    <%= form.label :borrower %><br>
    <%= form.text_field :borrower %>
  </p>
  <p>
    <%= form.label :due_date %><br>
    <%= form.text_field :due_date %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>