<h1><%= @book.title %></h1>
<p><%= @book.author %></p>
<p><%= @book.isbn %></p>

<ul>
  <li><%= link_to "Edit", edit_book_path(@book) %></li>
  <li><%= link_to "Destroy", book_path(@book), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<h2>Copies</h2>
<% for copy in @book.copies %>
  <%= render copy %>
<% end %>

<h2>Add a new copy:</h2>
<%= render "copies/form", copy: @copy %>
<%= link_to 'Home', books_path %>